@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.modal-full {
  width: 100% !important;
  max-width: 100% !important;
}
.modal:nth-of-type(even) {
  z-index: 20000 !important;
}
.modal {
  overflow-y:auto;
}
.modal-backdrop.in:nth-of-type(even) {
  z-index: 1041 !important;
}
.input-100-percent {
  width: 100% !important;
}
.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
}
.detailModel {
  cursor: pointer;
}
