
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


$width-100 : 100%;
.modal-full {
  width: $width-100 !important;
  max-width: $width-100 !important;
}
.input-100-percent{
  width: $width-100 !important;
}
.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
}
